@import url(./section.css);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
main{
    width: 90%;
    /* height: 100vh; */
    margin: auto;
    /* border: 2px solid; */
}
header{
    width: 100%;
    height: 200px;
    /* border: 2px solid blue; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.7;
}
main header div{
    width: 400px;
    height: 200px;
    /* border: 2px solid green; */
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height:80px;
    width: 220px;
    color: #fff;
    background-color: #f00;
    border-radius: 5px;
}
main header div div p{
    font-size: 30px;
    font-weight: 100;
}
main header div div+div{
    width: 100%;
    height: 120px;
    /* border: 2px solid yellow; */
}
.text>p{
    font-size: 2.5em;
    font-weight: 200;
    line-height: 1.35em;
    letter-spacing: -1.5px;
}
.text p span{
    font-weight: bold;
}
header>div+div{
    width: 800px;
    /* border: 2px solid; */
}
header>div+div>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header>div+div>ul>li{
    /* border: 2px solid green; */
    width: 200px;
    align-items: center;

}
.logo{
    margin-left: 40px;
    height: 120px;
    width: 120px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
   padding-top: 20px;
    letter-spacing: 0.01em;
    /* border: 2px solid; */
    text-align: center;
}
.head p{
    font-size: 20px;
}
.head h3{
    font-size: 18px;
}
article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    position: sticky;
    top: 0%;
    opacity: 0.7;
    z-index: 10;
    background-color:rgb(255,255, 255);
}
article>div{
    width: 200px;
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
article>div>div{
    margin-left: 20px;
    height: 20px;
    width: 60px;
    background-color: #00f;
    color: #fff;
}
article>div>div+div{
    display: flex;
    background-color: #000;
    color: #fff;
}
article>div+div{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}
article>div+div>p+div{
    width: 200px;
    height: 50px;
    background-color: #fff;
    border: 1px solid;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
article>div+div>p+div:hover{
    opacity: 2;
    background-color: #00f;
    color: #fff;
}